services:
  backend:
    build:
      context: ../..
      dockerfile: ops/docker/backend.Dockerfile
    ports:
      - "8000:8000"
    environment:
      ALLOWED_ORIGINS: "https://url-shortener-git-main-richards-projects-c0a9c9b4.vercel.app""
      BASE_URL: "https://api.richard-morales.com"
      REDIS_URL: "redis://redis:6379/0"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
